<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springMovie.UserMapper">
    <select id="auth" parameterType="userDTO" resultType="userDTO">
        SELECT * FROM `user`
        WHERE `username` = #{username}
        AND `password` = #{password}
    </select>

    <select id="validateUsername" parameterType="userDTO" resultType="userDTO">
        SELECT * FROM `user`
        WHERE `username` = #{username}
    </select>

    <insert id="register" parameterType="userDTO">
        INSERT INTO `user` (`username`, `password`, `nickname`, `grade`)
        VALUES (#{username}, #{password}, #{nickname}, #{grade})
    </insert>

    <update id="update" parameterType="userDTO">
        UPDATE `user` SET
        `password` = #{password},
        `nickname` = #{nickname}
        WHERE `id` = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM `user`
        WHERE `id` = #{id}
    </delete>
</mapper>